body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:138px;
  width:31px;
  height:21px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:144px;
  width:21px;
  height:8px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:144px;
  width:5px;
  height:8px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:138px;
  width:40px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:139px;
  width:38px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:142px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:143px;
  width:7px;
  height:10px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:143px;
  width:7px;
  height:10px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:143px;
  width:7px;
  height:10px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:143px;
  width:7px;
  height:10px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:143px;
  width:7px;
  height:10px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:850px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:26px;
  width:488px;
  height:850px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:417px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:176px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:168px;
  width:98px;
  height:37px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:41px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:169px;
  width:38px;
  height:41px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:226px;
  width:20px;
  height:25px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  white-space:nowrap;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:228px;
  width:176px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:217px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:325px;
  width:154px;
  height:217px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:217px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:325px;
  width:152px;
  height:217px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:569px;
  width:115px;
  height:46px;
  font-size:16px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:569px;
  width:115px;
  height:46px;
  font-size:16px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:419px;
  width:50px;
  height:39px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:414px;
  width:50px;
  height:39px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
